/*import*/
@import url('https://fonts.googleapis.com/css?family=Kurale');
h1 {
    /*fornt size*/
    font-size: 0;

    /*отступы вокруг*/
    margin: 0;

    /*другой отступ*/
    padding-top: 25px;

    /*размер*/
    width: 80%;

    /*радиус рамки*/
    border-radius: 10px;

    /*тень*/
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);

    /*фоновый цвет*/
    background-color: #E1EDEB;
}