@import "https://fonts.googleapis.com/css?family=Kurale";

body {
    background-color: rgb(50, 122, 167);
    padding: 0 20px 20px 20px;
    margin: 0;
}

p {
    color: rgba(255, 255, 255, .6);
    font-size: 1em;
    font-family: 'Kurale', serif;
}

h1, h2, h3 {
    color: rgba(255, 255, 255, 1);
    font-family: Arial, "Palatino Linotype", Times, serif;
    border-bottom: 2px solid rgba(87, 185, 178, 1);
    padding-top: 10px;
    padding-bottom: 5px;
}
